<div id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    @Html.Partial("~/Views/Home/Partial/MenuBar.cshtml");
</div>

<section id="hero" class="hero-slider light-typo full-height" data-height="600">
    @Html.Partial("~/Views/Home/Partial/HeroSlider.cshtml");
</section>

<section id="products" class=" padding-top-bottom" ng-controller="productsController">
    @Html.Partial("~/Views/Home/Partial/Products.cshtml");
</section>

<section class="gray-bg padding-top-bottom ">
    @Html.Partial("~/Views/Home/Partial/CountDown.cshtml");
</section>

<section id="about" class="padding-top-bottom ">
    @Html.Partial("~/Views/Home/Partial/About.cshtml");
</section>

<section id="testimonial" class="padding-top-bottom image-bg light-typo">
    @Html.Partial("~/Views/Home/Partial/Testimonials.cshtml");
</section>
<section id="newsletter" class="light-typo dark-bg padding-top-bottom">
    @Html.Partial("~/Views/Home/Partial/Newsletter.cshtml");
</section>
<section id="orderform" class="gray-bg padding-top-bottom" ng-controller="orderController">
    @Html.Partial("~/Views/Home/Partial/OrderForm.cshtml");
</section>
<section id="cta" class="padding-top-bottom color-bg light-typo">
    @Html.Partial("~/Views/Home/Partial/Presentation.cshtml");
</section>
<section id="contact" class="gray-bg padding-top-bottom">
    @Html.Partial("~/Views/Home/Partial/ContactForm.cshtml");
</section>
<footer id="main-footer" class="dark-bg light-typo">
    @Html.Partial("~/Views/Home/Partial/Footer.cshtml");
</footer>
@Html.Partial("~/Views/Home/Partial/Modal.cshtml");
