<!DOCTYPE html>
<html ng-app="storeApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/anima/anima.css">
    <link rel="stylesheet" href="~/Content/css/owlcarousel/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/icons.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/sliders.css">
    <link rel="stylesheet" href="~/Content/css/hero-slider.css">
    <link rel="stylesheet" href="~/Content/css/project-slider.css">
    <link rel="shortcut icon" href="~/Content/img/ico/32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/img/ico/60.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/img/ico/72.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/Content/img/ico/120.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/Content/img/ico/152.png" type="image/png" />
</head>
<body id="home">
        @RenderBody()
    
    <script type="text/javascript" src="~/Scripts/angular/angular.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/waypoints/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="~/Scripts/singlepagenav/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="~/Scripts/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/Scripts/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/waitforimages/jquery.waitforimages.min.js"></script>

    <script type="text/javascript" src="~/Scripts/hero-slider.js"></script>
    <script type="text/javascript" src="~/Scripts/project-slider.js"></script>
    <script type="text/javascript" src="~/Scripts/custom.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
    <script type="text/javascript" src="~/Scripts/controllers/orderController.js"></script>
    <script type="text/javascript" src="~/Scripts/controllers/productsController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
